{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<h2>Contact Us</h2>
<p>If you want to reach Crystiq Visuals:</p>
<ul class="list-unstyled">
  <li>Phone: <a href="tel:+911234567890">+91 12345 67890</a></li>
  <li>Instagram: <a href="https://instagram.com/" target="_blank">@crystiqvisuals</a></li>
  <li>Discord: <a href="https://discord.gg/" target="_blank">Discord Server</a></li>
  <li>WhatsApp: <a href="https://wa.me/911234567890" target="_blank">Chat on WhatsApp</a></li>
</ul>
{% endblock %}
